<fieldset class="circle">
  <img
    src="./assets/images/circle.png"
    alt="Imagen círculo"
    title="Imagen círculo"
    class="circle__image"
  />
  <form class="circle__form">
    <legend class="circle__form-legend">Círculo</legend>
    <div class="circle__form-container">
      <label for="inputCircle" class="circle__form-container-label"
        >Escribe cuantos cm mide el radio del círculo</label
      >
      <input
        id="inputCircle"
        type="number"
        class="circle__form-container-input"
      />
      <button
        type="button"
        onclick="calculateDiameterCircle()"
        class="circle__form-container-button-diameter"
      >
        Calcular diámetro
      </button>
      <p class="circle__form-container-text-diameter">
        El diámtero del círculo es:
      </p>
      <p class="circle__form-container-answer-diameter"></p>
      <button
        type="button"
        onclick="calculatePerimeterCircle()"
        class="circle__form-container-button-perimeter"
      >
        Calcular perímetro
      </button>
      <p class="circle__form-container-text-perimeter">
        El perímetro del círculo es:
      </p>
      <p class="circle__form-container-answer-perimeter"></p>
      <button
        type="button"
        onclick="calculateAreaCircle()"
        class="circle__form-container-button-area"
      >
        Calcular área
      </button>
      <p class="circle__form-container-text-area">El área del círculo es:</p>
      <p class="circle__form-container-answer-area"></p>
    </div>
  </form>
</fieldset>
