<fieldset class="triangle">
  <img
    src="./assets/images/triangle.png"
    alt="Imagen triángulo"
    title="Imagen triángulo"
    class="triangle__image"
  />
  <form class="triangle__form">
    <legend class="triangle__form-legend">Triángulo</legend>
    <div class="triangle__form-container">
      <label for="inputTriangleSide1" class="triangle__form-container-label"
        >Escribe cuantos cm mide el lado izquierdo del triángulo</label
      >
      <input
        id="inputTriangleSide1"
        type="number"
        class="triangle__form-container-input"
      />
      <label for="inputTriangleSide2" class="triangle__form-container-label"
        >Escribe cuantos cm mide el lado derecho del triángulo</label
      >
      <input
        id="inputTriangleSide2"
        type="number"
        class="triangle__form-container-input"
      />
      <label for="inputTriangleBase" class="triangle__form-container-label"
        >Escribe cuantos cm mide la base del triángulo</label
      >
      <input
        id="inputTriangleBase"
        type="number"
        class="triangle__form-container-input"
      />
      <label for="inputTriangleHeight" class="triangle__form-container-label"
        >Escribe cuantos cm mide la altura del triángulo</label
      >
      <input
        id="inputTriangleHeight"
        type="number"
        class="triangle__form-container-input"
      />
      <button
        type="button"
        onclick="calculatePerimeterTriangle()"
        class="triangle__form-container-button-perimeter"
      >
        Calcular perímetro
      </button>
      <p class="triangle__form-container-text-perimeter">
        El perímetro del triangulo es:
      </p>
      <p class="triangle__form-container-answer-perimeter"></p>
      <button
        type="button"
        onclick="calculateAreaTriangle()"
        class="triangle__form-container-button-area"
      >
        Calcular área
      </button>
      <p class="triangle__form-container-text-area">
        El área del triangulo es:
      </p>
      <p class="triangle__form-container-answer-area"></p>
    </div>
  </form>
</fieldset>
